/* this is general style for body */
.body{
    width: 0%;
    margin-right: auto;
    margin-left: auto;
}
/* this is style for header main css */
.flex{
   justify-content: space-between;
}
.container{
    background-color: #000000;
    border-bottom: 10px solid #ffff00; 
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    display: flex;
}
.center{
    display: flex;
    align-items: center;
}
.each{
    padding: 0.1px;

}
.each a{
    display: inline-block;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.no-underline{
    text-decoration: none;
    color: #ffffff;
    flex-direction: row;
}
#change-font{
    font-family: Impact;
}
#header-color{
    color: #ffff00;
    font-family: 'Times New Roman';
}
.words{
      background-color: #ababab;
      padding: 6px 6px;
      text-align: center;
      font-family:'Segoe UI';
      font-style: oblique;
}
.del{
    text-decoration: line-through;
}
.u{
    border-bottom: 3px solid #ffff00;
}

/* this is a content main css */
.banner{
    background-image: url("../images/matchmaker.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
 
.box{
    border: 2px solid;
    padding: 2.5em 2.5em;
    width: 490px;
    height: 250px;
    font-family: 'Calibri';
    background-color: rgba(255, 255, 255, 0.576);
    color: rgb(0, 0, 0);
    
}
.button{
    background-color: #ffff00;
    color: #000000;
    border-bottom: 2px solid #ffa500;
    padding: 10px 80px;
    width: 10em;
    height: 5em;
    font-family: Arial;
    font-size: 18px;
    text-decoration: none;



}
.box button{
    display: flex;
    align-self: center;
}
.sign-up-button{
    background-color: #808080;
    color: #000000;
    padding: 10px 80px;
    width: 10em;
    height: 5em;
    font-family: Arial;
    font-size: 18px;
    text-decoration: none;
}















/* this is a footer main css */
.banner-footer{
        background-color: #000000;
        padding: 10px 15px;
}
.footer-color{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;

}
