/* this is general style for body */
.body{
    width: 0%;
    margin-right: auto;
    margin-left: auto;
}
/* this is style for header main css */
.flex{
   justify-content: space-between;
}
.container{
    background-color: #000000;
    border-bottom: 10px solid #ffff00; 
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    display: flex;
}
.center{
    display: flex;
    align-items: center;
}
.no-underline{
    text-decoration: none;
    color: #ffffff;
    flex-direction: row;
}
#change-font{
    font-family: Impact;
}
#header-color{
    color: #ffff00;
    font-family: 'Times New Roman';
}
.banner{
      background-color: #ababab;
      padding: 6px 6px;
      text-align: center;
      font-family:'Segoe UI';
      font-style: oblique;
}
.del{
    text-decoration: line-through;
}
.u{
    border-bottom: 3px solid #ffff00;
}

/* this is a content main css */
.center{
    
}















/* this is a footer main css */
.banner-footer{
        background-color: #000000;
        padding: 10px 15px;
}
.footer-color{
    color: #ffffff;
    font-family: sans-serif;

}
